<!DOCTYPE html>
<html>
<head>
    <title>Exibir Faturas</title>
</head>
<body>
    <h1>Faturas</h1>
    {% if faturas %}
        {% for fatura in faturas %}
            <h2>{{ fatura['nome_arquivo'] }}</h2>
            <p>Número de páginas: {{ fatura['num_paginas'] }}</p>
            <pre>{{ fatura['texto'] }}</pre>
            <hr>
        {% endfor %}
    {% else %}
        <p>Não foram encontradas faturas na pasta especificada.</p>
    {% endif %}

    <!-- Adicionar um link para a página do dashboard -->
    <a href="/dashboard">Dashboard</a>
</body>
</html>
