<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado</h1>
    <p>Mês de referência: {{ mes_referencia }}</p>
    <p>Data de Vencimento: {{ data_vencimento }}</p>
    <h2>Energia Elétrica</h2>
    <p>kWh: {{ valor_energia_eletrica }}</p>
    <h2>Energia injetada HFP</h2>
    <p>kWh: {{ valor_energia_injetada }}</p>
    <h2>En comp. s/ ICMS</h2>
    <p>kWh: {{ valor_en_comp_s_icms }}</p>
    <p>Contrib Ilum Publica Municipal (R$): {{ contrib_ilum_publica_mun }}</p>
    <h2>Valor Total (R$): {{ valor_total }}</h2>
</body>
</html>
